@page "/"
@using BlazorCustomConrols.ViewModels

<EditableDropdownField Label="Select Country"
                       Class="col-md-6"
                       Items="@(ViewModel.Countries)"
                       @bind-SelectedValue="@(ViewModel["SelectedCountry"])"
                       IsReadOnly="@IsReadOnlyMode" />

<p>Selected Country: @ViewModel["SelectedCountry"]</p>

<EditableInputField Label="First Name"
                    Class="col-md-6"
                    @bind-Value="@(ViewModel.FirstName)"
                    IsReadOnly="@IsReadOnlyMode" />

<EditableInputField Label="Last Name"
                    Class="col-md-6"
                    @bind-Value="@(ViewModel["LastName"])"
                    IsReadOnly="@IsReadOnlyMode" />

<p>Full Name: @ViewModel.FullName</p>

<EnumDropdownField TEnum="StatusEnum"
                   Label="Select Status"
                   @bind-SelectedValue="ViewModel.Status"
                   IsReadOnly="false" />

<p>Selected Status: @ViewModel.Status</p>


@code {
    private HomeViewModel ViewModel = new();
    private bool IsReadOnlyMode = false;
}
