@page "/"
@using BlazorCustomConrols.ViewModels

<EditableDropdownField Label="Select Country"
                       Class="col-md-6"
                       Items="@(ViewModel.Countries)"
                       @bind-SelectedValue="@(ViewModel["SelectedCountry"])"
                       IsReadOnly="@ViewModel.IsReadOnlyMode" />

<p>Selected Country: @ViewModel["SelectedCountry"]</p>

<EditableInputField Label="First Name"
                    Class="col-md-6"
                    @bind-Value="@(ViewModel.FirstName)"
                    IsReadOnly="@ViewModel.IsReadOnlyMode" />

<EditableInputField Label="Last Name"
                    Class="col-md-6"
                    @bind-Value="@(ViewModel["LastName"])"
                    IsReadOnly="@ViewModel.IsReadOnlyMode" />

<p>Full Name: @ViewModel.FullName</p>

<EnumDropdownField TEnum="StatusEnum"
                   Label="Select Status"
                   @bind-SelectedValue="ViewModel.Status"
                   IsReadOnly="false" />

<p>Selected Status: @ViewModel.Status</p>

<DateInputField Label="Select Date"
                @bind-Value="ViewModel.DateOfBirth"
                IsReadOnly="false" />

<p>Selected Date: @ViewModel.DateOfBirth.ToString("yyyy-MM-dd")</p>


<!--Test Number input-->
<EditableNumberField Label="Signed Integer Value"
                     @bind-Value="ViewModel.SignedValue"
                     IsUnsigned="false"
                     Class="col-md-6"
                     IsReadOnly="@ViewModel.IsReadOnlyMode" />

<EditableNumberField Label="Unsigned Integer Value"
                     @bind-Value="ViewModel.UnsignedValue"
                     IsUnsigned="true"
                     Class="col-md-6"
                     IsReadOnly="@ViewModel.IsReadOnlyMode" />

<EditableNumberField Label="Decimal Value"
                     @bind-Value="ViewModel.DecimalValue"
                     Class="col-md-6"
                     IsReadOnly="@ViewModel.IsReadOnlyMode" />

<EditableNumberField Label="Double Value"
                     @bind-Value="ViewModel.DoubleValue"
                     Class="col-md-6" 
                     IsReadOnly="@ViewModel.IsReadOnlyMode" />
<EditableTextareaField Label="Description"
                       Class="col-md-6"
                       @bind-Value="ViewModel.Description"
                       IsReadOnly="@ViewModel.IsReadOnlyMode" />
<!--Test Toggle-->
<ToggleButton @bind-IsOn="ViewModel.IsFeatureEnabled" />

<p>Feature is @(ViewModel.IsFeatureEnabled ? "Enabled" : "Disabled")</p>


<!--Test RadioGroup-->
<RadioGroup @bind-SelectedValue="ViewModel.SelectedOption">
    <RadioButton Value="Option1" Label="Option 1" />
    <RadioButton Value="Option2" Label="Option 2" />
    <RadioButton Value="Option3" Label="Option 3" />
</RadioGroup>

<p>Selected Option: @ViewModel.SelectedOption</p>

@code {
    private HomeViewModel ViewModel = new();  
}
